* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: #fff;
  color: #000;
}

header {
  background-color: #fff2d9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9375rem 3.125rem;
}
@media screen and (max-width: 820px) {
  header {
    padding: 0.9375rem 1.5625rem;
  }
}

header > div {
  width: 100%;
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

section > div {
  width: 100%;
  max-width: 75rem;
}

.menu-modal {
  background-color: rgba(0, 0, 0, 0.5);
  right: 0%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: block;
  z-index: 3;
}
.menu-modal--disabled {
  display: none;
}

.close-animation {
  animation-name: close;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.menu-navegation {
  height: 100dvh;
  width: 25dvh;
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.menu-navegation--disabled {
  display: none;
}

.slide-out {
  animation-name: slide-out;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0.1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
    display: flex;
  }
  to {
    transform: translateX(100%);
    opacity: 0.1;
    display: none;
  }
}
@keyframes close {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
main {
  background-color: #ffffff;
}

.section-banner {
  padding: 1.5625rem 3.125rem;
  width: 100%;
  background-color: #fff2d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 820px) {
  .section-banner {
    padding: 1.5625rem 1.5625rem;
  }
}

.banner {
  max-width: 75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1050px) {
  .banner {
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
  }
}

.section-dishes {
  padding: 0 3.125rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 820px) {
  .section-dishes {
    padding: 0 1.5625rem;
  }
}

.section-order {
  padding: 0 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 820px) {
  .section-order {
    padding: 0 1.5625rem;
  }
}

.section-advantages {
  padding: 0 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 820px) {
  .section-advantages {
    padding: 0 1.5625rem;
  }
}

.section-review {
  padding: 0 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 820px) {
  .section-review {
    padding: 0 1.5625rem;
  }
}

.review {
  padding: 0 0 0 0;
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 820px) {
  .review {
    flex-direction: column;
  }
}

.user__name, .advantages__subtitle, .logo__title {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #00334e;
  text-transform: uppercase;
}

.navegation__link {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #444444;
}

.hero__title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.25rem;
  font-weight: 700;
  color: #00334e;
}

.hero__text {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #00334e;
}

.hero__input::placeholder, .hero__input {
  font-family: "DM Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #00334e;
}

.testimonials__title, .advantages__title, .order__title, .dishes__subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #00334e;
}

.order-item__title, .dishes-item__title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #00334e;
}

.testimonials__text, .advantages__text, .order-item__text, .dishes-item__text, .dishes__button {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #00334e;
}

.order-item__number {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  max-width: 3rem;
  width: 100%;
}
.navegation {
  max-width: 24.1875rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .navegation {
    display: none;
  }
}
.navegation__link {
  transition: color 0.4s ease-in-out;
}
.navegation__link:hover {
  color: #00cc99;
}

.menu {
  height: 1.0625rem;
  width: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1050px) {
  .menu {
    display: flex;
  }
  .menu--disabled {
    animation-name: menu-disabled;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: none;
  }
}
.menu__line {
  height: 0.1875rem;
  width: 1.875rem;
  background-color: #00334e;
}
.menu__line:last-child {
  width: 0.9375rem;
}
.menu:hover .menu__line:last-child {
  width: 1.875rem;
  transition: width 0.4s ease-in-out;
}

.close {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  cursor: pointer;
  align-self: flex-end;
  margin: 1.875rem 1.875rem 0 0;
}
.close__line {
  background-color: #b42c2c;
  width: 0.375rem;
  height: 1.875rem;
  transform: rotate(45deg);
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 40%;
  transition: 0.5s;
}
.close__line:last-child {
  transform: rotate(-45deg);
}
.close:hover .close__line {
  background-color: #eb1010;
}

.navegation--menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navegation--menu__link--menu {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  text-shadow: 1px 1px 2px #444444;
}

@keyframes menu-disabled {
  from {
    display: flex;
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media screen and (max-width: 1050px) {
  .hero {
    align-items: center;
    text-align: center;
  }
}
.hero__title {
  padding: 2.5rem 0 0 0;
  width: 37.5rem;
}
@media screen and (max-width: 1050px) {
  .hero__title {
    padding: 1.25rem 0 0 0;
  }
}
@media screen and (max-width: 580px) {
  .hero__title {
    font-size: 2rem;
    width: auto;
    font-weight: 700;
  }
}
@media screen and (max-width: 580px) {
  .hero__text {
    font-size: 1rem;
  }
}
.hero__input-area {
  display: flex;
}
.hero__input {
  width: 22.5rem;
  background-color: #ffffff;
  padding: 1.375rem 0 1.375rem 3.4375rem;
  border-radius: 8px 0 0 8px;
  background-image: url(../assets/images/whatsapp.png);
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: 5% 50%;
}
@media screen and (max-width: 580px) {
  .hero__input {
    width: 14.375rem;
    height: 3.125rem;
    padding: 0.625rem 0 0.625rem 3.4375rem;
  }
}
.hero__button {
  height: 3.96875rem;
  width: 3.75rem;
  background-color: #00334e;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 580px) {
  .hero__button {
    height: 3.125rem;
    width: 3.125rem;
  }
}

.animation-arrow {
  animation-name: arrow-motion;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes arrow-motion {
  0% {
    margin: 0 0 0 0;
  }
  25% {
    margin: 0 15px 0 0;
  }
  50% {
    margin: 0 0 0 0;
  }
  75% {
    margin: 0 0 0 15px;
  }
  100% {
    margin: 0 0 0 0;
  }
}
.container-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-image__image {
  animation-name: delivery;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
@media screen and (max-width: 580px) {
  .container-image__image {
    width: 80%;
  }
}

@keyframes delivery {
  0% {
    transform: translateX(120%) rotate(4deg);
  }
  70% {
    transform: translateX(0%) rotate(0deg);
  }
  80% {
    transform: translateX(-10%) rotate(-2deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
.dishes {
  padding-top: 6.25rem;
  width: 100%;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dishes__subtitle {
  padding-bottom: 1.5625rem;
}
@media screen and (max-width: 580px) {
  .dishes__subtitle {
    text-align: center;
  }
}
.dishes__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.4375rem 2.5rem;
  padding-bottom: 2.1875rem;
}
@media screen and (max-width: 1050px) {
  .dishes__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3.125rem;
  }
}
@media screen and (max-width: 820px) {
  .dishes__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.dishes__button {
  padding: 0.9375rem 2.6875rem;
  color: #ffffff;
  background-color: #00cc99;
  border-radius: 200px;
  position: relative;
}
.dishes__button::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 70px;
  left: -16px;
  top: -8px;
  transform: rotate(26deg);
  background-color: #ffffff;
  opacity: 0.4;
}

.dishes-item__container-img {
  position: relative;
}
.dishes-item__container-img::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: -2%;
  top: -3%;
  background-color: #00334e;
  z-index: 1;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.dishes-item__container-img::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  right: -2%;
  bottom: -3%;
  background-color: #00cc99;
  z-index: 1;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.dishes-item:hover .dishes-item__container-img::before {
  width: 80%;
  height: 80%;
}
.dishes-item:hover .dishes-item__container-img::after {
  width: 80%;
  height: 80%;
}
.dishes-item__image {
  position: relative;
  z-index: 2;
}
.dishes-item__title {
  padding: 1.25rem 0 0.625rem 0;
}
.shine::before {
  animation-name: shine;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes shine {
  from {
    left: -16px;
  }
  to {
    left: 175px;
  }
}
.order {
  padding: 7.8125rem 0 8.4375rem 0;
}
.order__title {
  text-align: center;
  padding-bottom: 2.8125rem;
}
.order__list {
  display: flex;
  gap: 2.5rem;
}
@media screen and (max-width: 1250px) {
  .order__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 820px) {
  .order__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.order-item {
  max-width: 22.4375rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-item__number {
  background-color: #00cc99;
  width: 100%;
  height: 100%;
  max-width: 2.5rem;
  max-height: 2.5rem;
  border: solid 1px #00cc99;
  border-radius: 1.25rem;
  position: absolute;
  top: 0;
  right: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-item__title {
  padding: 1.125rem 0 0.625rem 0;
}
.order-item__text {
  text-align: center;
}

.advantages {
  padding: 6.25rem 0;
  display: flex;
  justify-content: center;
  gap: 3.75rem;
}
@media screen and (max-width: 820px) {
  .advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.advantages__container-img {
  background-color: #fff2d9;
  border: solid 1px #fff2d9;
  border-radius: 25px;
  position: relative;
  width: 32.125rem;
  height: 23.875rem;
}
@media screen and (max-width: 1250px) {
  .advantages__container-img {
    width: 25.875rem;
    height: 19.5rem;
  }
}
@media screen and (max-width: 580px) {
  .advantages__container-img {
    width: 19rem;
    height: 14.5rem;
  }
}
.advantages__img {
  position: absolute;
  top: -25%;
  left: 0;
  animation: rocket 2.8s ease-in-out infinite;
}
@media screen and (max-width: 580px) {
  .advantages__img {
    width: 100%;
  }
}
.advantages__title {
  padding-bottom: 2.875rem;
}
@media screen and (max-width: 1250px) {
  .advantages__title {
    padding-bottom: 1.625rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
.advantages__list {
  counter-reset: item;
}
.advantages__item {
  counter-increment: item;
  position: relative;
  padding: 0 0 2.5rem 4.0625rem;
}
@media screen and (max-width: 1050px) {
  .advantages__item {
    padding: 0 0 1.25rem 4.0625rem;
  }
}
.advantages__item::before {
  content: "0" counter(item);
  position: absolute;
  left: 0%;
  top: -8%;
  font-family: "DM Sans", sans-serif;
  font-size: 2.625rem;
  font-weight: 400;
  color: #dcdcdc;
}
.advantages__subtitle {
  text-transform: none;
  padding-bottom: 0.125rem;
}
@keyframes rocket {
  0% {
    top: -25%;
  }
  50% {
    top: -35%;
  }
  100% {
    top: -25%;
  }
}
.testimonials {
  display: flex;
  flex-direction: column;
}
.testimonials__title {
  text-align: center;
  padding-bottom: 1.25rem;
}
.testimonials__text {
  font-size: 18;
  line-height: 2.25rem;
  max-width: 31.25rem;
  display: none;
}
.testimonials__text--show {
  display: flex;
}
.testimonials__users {
  display: flex;
  padding-top: 2.375rem;
  justify-content: space-around;
  gap: 0.625rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  opacity: 0.4;
}
.user--show {
  opacity: 1;
}
.user__image {
  width: 1.875rem;
}
.user__name {
  text-transform: none;
}

.rating {
  width: 100%;
  max-width: 37.5rem;
}
@media screen and (max-width: 1050px) {
  .rating {
    width: 80%;
  }
}
@media screen and (max-width: 820px) {
  .rating {
    width: 100%;
  }
}
.rating__image {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
