* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: #fff;
  color: #000;
}

header {
  background-color: #FFF2D9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9375rem 3.125rem;
}

header > div {
  width: 100%;
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-modal {
  background-color: rgba(0, 0, 0, 0.5);
  right: 0%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: block;
}
.menu-modal--disabled {
  animation-name: close;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  display: none;
}

.menu-navegation {
  height: 100dvh;
  width: 25dvh;
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.menu-navegation--disabled {
  animation-name: slide-out;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.7;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
    display: flex;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.3;
  }
  to {
    transform: translateX(100%);
    opacity: 0.1;
    display: none;
  }
}
@keyframes close {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
main {
  background-color: #FFFFFF;
}

.section-banner {
  width: 100%;
  background-color: #FFF2D9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  padding: 1.5625rem 3.125rem;
  max-width: 75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo__title {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #00334E;
  text-transform: uppercase;
}

.navegation__link {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #444444;
}

.hero__title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.25rem;
  font-weight: 700;
  color: #00334E;
}

.hero__text {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #00334E;
}

.hero__input::placeholder, .hero__input {
  font-family: "DM Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #00334E;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  max-width: 3rem;
  width: 100%;
}
.navegation {
  max-width: 24.1875rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 940px) {
  .navegation {
    display: none;
  }
}
.navegation__link {
  transition: color 0.4s ease-in-out;
}
.navegation__link:hover {
  color: #00CC99;
}

.menu {
  height: 1.0625rem;
  width: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 940px) {
  .menu {
    display: flex;
  }
  .menu--disabled {
    animation-name: menu-disabled;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: none;
  }
}
.menu__line {
  height: 0.1875rem;
  width: 1.875rem;
  background-color: #00334E;
}
.menu__line:last-child {
  width: 0.9375rem;
}
.menu:hover .menu__line:last-child {
  width: 1.875rem;
  transition: width 0.4s ease-in-out;
}

.close {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  cursor: pointer;
  align-self: flex-end;
  margin: 1.875rem 1.875rem 0 0;
}
.close__line {
  background-color: #b42c2c;
  width: 0.375rem;
  height: 1.875rem;
  transform: rotate(45deg);
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 40%;
  transition: 0.5s;
}
.close__line:last-child {
  transform: rotate(-45deg);
}
.close:hover .close__line {
  background-color: #eb1010;
}

.navegation--menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navegation--menu__link--menu {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  text-shadow: 1px 1px 2px #444444;
}

@keyframes menu-disabled {
  0% {
    display: flex;
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.hero__title {
  padding: 2.5rem 0 0 0;
  width: 37.5rem;
}
.hero__input-area {
  display: flex;
}
.hero__input {
  width: 22.5rem;
  background-color: #FFFFFF;
  padding: 1.375rem 0 1.375rem 3.4375rem;
  border-radius: 8px 0 0 8px;
  background-image: url(../assets/images/whatsapp.png);
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: 5% 50%;
}
.hero__button {
  height: 3.96875rem;
  width: 3.75rem;
  background-color: #00334E;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-arrow {
  animation-name: arrow-motion;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes arrow-motion {
  0% {
    margin: 0 12px 0 0;
  }
  25% {
    margin: 0 6px 0 0;
  }
  50% {
    margin: 0 3px 0 0;
  }
  75% {
    margin: 0 0 0 6px;
  }
  100% {
    margin: 0 0 0 12px;
  }
}
.container-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-image__image {
  animation-name: delivery;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes delivery {
  0% {
    margin: 0 0 0 800px;
  }
  20% {
    margin: 0 0 0 400px;
  }
  40% {
    margin: 0 0 0 200px;
  }
  60% {
    margin: 0 0 0 100px;
  }
  80% {
    margin: 0 0 50px 0;
  }
  100% {
    margin: 0 0 0 0;
  }
}

/*# sourceMappingURL=index.css.map */
