@use "variables" as var;

%logo-title {
    font-family: var.$primary-font;
    font-size: calc(var.$base-size / 16 * 1rem);
    font-weight: var.$bold-weight;
    color: var.$primary-color;
    text-transform: uppercase;
}

%navegation-text {
    font-family: var.$primary-font;
    font-size: calc(var.$base-size / 16 * 1rem);
    font-weight: var.$medium-weight;
    color: var.$detail-color1;
}

%hero-title {
    font-family: var.$primary-font;
    font-size: calc(var.$xxlarge-size / 16 * 1rem);
    font-weight: var.$bold-weight;
    color: var.$primary-color;
}

%hero-text {
    font-family: var.$primary-font;
    font-size: calc(var.$xmedium-size / 16 * 1rem);
    font-weight: var.$regular-weight;
    color: var.$primary-color;
}

%hero-input {
    font-family: var.$primary-font;
    font-size: calc(var.$small-size / 16 * 1rem);
    font-weight: var.$regular-weight;
    color: var.$primary-color;
}

.logo {
    display: flex;
    align-items: center;

    &__image {
        max-width: calc(48 / 16 * 1rem);
        width: 100%;
    }

    &__title {
        @extend %logo-title;
    }
}

.navegation {
    max-width: calc(387 / 16 * 1rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include var.breakpoints(var.$notebook) {
        display: none;
    }

    &__link {
        @extend %navegation-text;
        transition: color 0.4s ease-in-out;

        &:hover {
            color: var.$tertiary-color;
        }
    }
}

.menu {
    height: calc(17 / 16 * 1rem);
    width: calc(30 / 16 * 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    cursor: pointer;
    display: none;

    @include var.breakpoints(var.$notebook) {
        display: flex;

        &--disabled {
            animation-name: menu-disabled;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            display: none;
        }
    }

    &__line {
        height: calc(3 / 16 * 1rem);
        width: calc(30 / 16 * 1rem);
        background-color: var.$primary-color;

        &:last-child {
            width: calc(15 / 16 * 1rem);
        }
    }

    &:hover .menu__line:last-child {
        width: calc(30 / 16 * 1rem);
        transition: width 0.4s ease-in-out;
    }
}

.close {
    width: calc(30 / 16 * 1rem);
    height: calc(30 / 16 * 1rem);
    position: relative;
    cursor: pointer;
    align-self: flex-end;
    margin: calc(30 / 16 * 1rem) calc(30 / 16 * 1rem) 0 0;

    &__line {
        background-color: var.$detail-color5;
        width: calc(6 / 16 * 1rem);
        height: calc(30 / 16 * 1rem);
        transform: rotate(45deg);
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 40%;
        transition: 0.5s;

        &:last-child {
            transform: rotate(-45deg);
        }
    }

    &:hover .close__line {
        background-color: var.$detail-color3;
    }
}

.navegation--menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__link--menu {
        text-transform: uppercase;
        font-weight: var.$medium-weight;
        font-size: calc(var.$xmedium-size / 16 * 1rem);
        text-shadow: 1px 1px 2px var.$detail-color1;
    }
}

@keyframes menu-disabled {
    from {
        display: flex;
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

//banner
.hero {
    display: flex;
    flex-direction: column;
    gap: calc(20 / 16 * 1rem);

    &__title {
        padding: calc(40 / 16 * 1rem) 0 0 0;
        @extend %hero-title;
        width: calc(600 / 16 * 1rem);
    }

    &__text {
        @extend %hero-text;
    }

    &__input-area {
        display: flex;
    }

    &__input {
        width: calc(360 / 16 * 1rem);
        background-color: var.$background-color;
        padding: calc(22 / 16 * 1rem) 0 calc(22 / 16 * 1rem) calc(55 / 16 * 1rem);
        border-radius: 8px 0 0 8px;
        background-image: url(../assets/images/whatsapp.png);
        background-repeat: no-repeat;
        background-size: 6%;
        background-position: 5% 50%;
        @extend %hero-input;

        &::placeholder {
            @extend %hero-input;
        }
    }

    &__button {
        height: calc(63.5 / 16 * 1rem);
        width: calc(60 / 16 * 1rem);
        background-color: var.$primary-color;
        border-radius: 0 8px 8px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.animation-arrow {
    animation-name: arrow-motion;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes arrow-motion {
    0% {
        margin: 0 0 0 0;
    }
    25% {
        margin: 0 15px 0 0;
    }
    50% {
        margin: 0 0 0 0;
    }
    75% {
        margin: 0 0 0 15px;
    }
    100% {
        margin: 0 0 0 0;
    }
}

.container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    &__image {
        animation-name: delivery;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
    }
}

@keyframes delivery {
    0% {
        transform: translateX(1000px);
    }
    70% {
        transform: translateX(0px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
