//colors
$primary-color: #00334E;
$segundary-color: #FFF2D9;
$tertiary-color: #00CC99;
$background-color: #FFFFFF;
$detail-color1: #444444;
$detail-color2: #DCDCDC;

//fonts
$primary-font: "DM Sans", sans-serif;

//font weights
$regular-weight: 400;
$bold-weight: 700;

//font sizes
$small-size: 13;
$base-size: 16;
$medium-size: 18;
$xmedium-size: 20;
$xxmedium-size: 24;
$large-size: 32;
$xlarge-size: 42;
$xxlarge-size: 52;

//content size
$size-content: 1200;