//colors
$primary-color: #00334E;
$segundary-color: #FFF2D9;
$tertiary-color: #00CC99;
$background-color: #FFFFFF;
$detail-color1: #444444;
$detail-color2: #DCDCDC;
$detail-color3: #ca1919;
$detail-color4: rgb(0, 0, 0, 0.5);

//fonts
$primary-font: "DM Sans", sans-serif;

//font weights
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

//font sizes
$small-size: 13;
$base-size: 16;
$medium-size: 18;
$xmedium-size: 20;
$xxmedium-size: 24;
$large-size: 32;
$xlarge-size: 42;
$xxlarge-size: 52;

//spacing
$content-spacing: 1200;
$padding-spacing: 50;

//breakpoints
$notebook: 940px;

@mixin breakpoints($size){
    @if $size == $notebook{
        @media screen and (max-width: 940px) {
            @content
        }
    }
}